@import "variables";
@import "function";
@import "mixin";
@import "extend";

body {
  font-family: 100% "Space Mono", monospace;
  color: set-text-color($bg_light);
  margin: 0px;
  padding: 0px;
  background-color: $bg_light;
  background-image: $bg_img;
  background-size: $bg_size;
  background-position: $bg-position;
  background-attachment: fixed;
}

article {
  display: flex;
  flex-wrap: wrap;

  section {
    flex-grow: 1;
    flex-basis: 45%;
    border: 1px silver solid;
    @include box-shadow(10px 10px 19px -4px rgba(255, 255, 255, 0.75));
    padding: $padding * 2;
    margin: $margin * 2;
    clear: both;
    overflow: auto;
    box-sizing: border-box;

    #selling-points {
      flex-grow: 2;
      flex-basis: 100%;
    }
  }

  code {
    background: $bg_dark;
    border: 1px solid $bg_light;
    color: #666;
    page-break-inside: avoid;
    font-family: $font;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;

    &.before {
      float: left;
      width: 40%;
    }

    &.after {
      float: right;
      width: 40%;
    }
  }

  h2 {
    @extend %heading-text-color;

    h1 {
      @extend %heading-text-color;
      text-align: center;
    }

    h6 {
      @extend %heading-text-color;
      text-align: center;
      font-size: 2em;
      padding: 32px;
      margin-bottom: 0px;
      color: #6b8eff;
    }
  }

  .success {
    @extend %message-shared;
    background-color: green;
  }
  .error {
    @extend %message-shared;
    background-color: red;
  }
  .warning {
    @extend %message-shared;
    background-color: orange;
  }
}

footer {
  h6 {
    padding: $padding * 4;
  }
}
